* {
  font-family: 'Viga', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: 0.5s;
  min-height: 100vh;
}

section {
  padding-top: 4rem;
}

/* Footer */
li a {
  color: #ffffff !important;
}

p a {
  color: #ffffff !important;
}

h2 {
  text-align: center;
}

hr {
  text-align: center 0 20px !important;
}

input {
  transition: 0.3s ease-in-out !important;
}

.page-footer ul li a {
  text-decoration: none;
}

.page-footer ul li a:hover {
  color: rgb(106, 106, 106) !important;
  transition: 0.5s;
}

#team {
  background-color: #323232;
}

#about p {
  font-size: 16px;
  transition: 0.5s ease-in-out !important;
}

.section-padding {
  padding: 100px o;
}

.jumbotron {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.346) 0%, rgba(5, 5, 5, 0.238) 100%),
    url("img/Pakan-Burung-Kenari.jpg");
  color: white;
  position: relative;
  background-position: center -0px;
  background-size: cover;
  height: 500px;
  padding: 0;
}

.card {
  background-color: #fff;
  transition: 0.5s ease-in-out;
}

.jumbotron h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 40px;
  transition: 0.5s ease-in-out;
}

.jumbotron p {
  padding-top: 20px;
  text-align: center;
}

.jumbotron a {
  margin: 20px;
}

.jumbotron .btn {
  font-size: 12px;
  transition: 0.5s ease-in-out;
}

.navbar-nav a {
  color: #ffffff !important;
  margin: 0 20px;
  font-size: 12px;
}

.form-check {
  margin: 0 40px;
}

.form-check-label {
  margin-top: 1.5px;
  margin-left: 5px;
}

.navbar-toggler {
  color: transparent !important;
}

.nav-link:hover {
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
}

.navbar {
  transition: all 0.5s;
  color: #000000;
}

/* Animation Scrolled */
.navbar-scrolled {
  background-color: #201e1e;
  box-shadow: 0 3px 10px rgb(40, 39, 39);
}

.head {
  background-color: #323232;
}

.social-link li a {
  color: #000000;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.card-maps {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.468);
  border: 1px solid rgba(255, 255, 255, 0.468);
}

/* Desktop Responsive */
@media (min-width: 992px) {
  .jumbotron {
    height: 650px;
    transition: 0.5s ease-in-out;
  }

  .jumbotron h1 {
    font-size: 90px;
    margin: 90px 0;
    transition: 0.5s ease-in-out;
  }

  .jumbotron .btn {
    font-size: 20px;
  }

  h2 {
    text-align: left;
    transition: 0.5s ease-in-out;
  }

  .navbar-nav a {
    font-size: 16px;
  }


  #about p {
    font-size: 20px;
    transition: 0.5s ease-in-out !important;
  }
}

/* Dark Mode */
.darkmode {
  background-color: #292929;
  color: #fff;
  transition: 0.5s ease-in-out;
}

.darkmode .card {
  background-color: #292929;
  transition: 0.5s ease-in-out;
}


.darkmode h5 {
  color: #000000;
}

.darkmode .jumbotron {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.288) 0%, rgba(5, 5, 5, 0.9) 100%),
    url("img/Pakan-Burung-Kenari.jpg");
  color: white;
  position: relative;
  background-position: center -0px;
  background-size: cover;
}