* {
  font-family: 'Viga', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

section {
  padding-top: 4rem;
}

/* Footer */
li a {
  color: #ffffff !important;
}

p a {
  color: #ffffff !important;
}

h2 {
  text-align: center;
}

hr {
  text-align: center 0 20px !important;
}

.page-footer ul li a {
  text-decoration: none;
}

.page-footer ul li a:hover {
  color: rgb(106, 106, 106) !important;
  transition: 0.5s;
}

#team {
  background-color: #323232;
}

.section-padding {
  padding: 100px o;
}

.jumbotron {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.288) 0%, rgba(5, 5, 5, 0.9) 100%),
    url("img/Pakan-Burung-Kenari.jpg");
  color: white;
  position: relative;
  background-position: center -1px;
  background-size: cover;
  height: 500px;
}

.jumbotron h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 40px;
}

.jumbotron p {
  padding-top: 20px;
  text-align: center;
}

.jumbotron a {
  margin: 20px;
}

.jumbotron .btn {
  font-size: 12px;
}

.navbar-nav a {
  color: #ffffff !important;
  margin: 0 20px;
  font-size: 12px;
}

.navbar-toggler {
  color: transparent !important;
}

.nav-link:hover {
  border-bottom: 1px solid #ffffff;
  margin-bottom: -1px;
}

.navbar {
  transition: all 0.5s;
  color: #000000;
}

/* Anomation Scrolled */
.navbar-scrolled {
  background-color: #000000;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.card .img-fixed-top {
  border: 1px solid #ffffff;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
}

.head {
  background-color: #323232;
}

.social-link li a {
  color: #000000;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.card-maps {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.468);
  border: 1px solid rgba(255, 255, 255, 0.468);
}

/* Desktop Responsive */
@media (min-width: 992px) {
  .jumbotron {
    height: 650px;
  }

  .jumbotron h1 {
    font-size: 90px;
    margin: 90px 0;
  }

  .jumbotron .btn {
    font-size: 20px;
  }

  h2 {
    text-align: left;
  }

  .navbar-nav a {
    font-size: 16px;
  }
}

/* Tablet Responsive */
@media (min-width: 545px) {
  .navbar-nav a {
    font-size: 14px;
  }
}